.about-body {
  padding-bottom: 20px;
}

.google-map,
.google-map > div {
  width: 100%;
  height: 450px;
}

.history a,
.contact a {
  color: #ea180a;
}

.history-section .card-body {
  text-decoration: none;
  color: black;
}

.history-section a:hover {
  text-decoration: none;
  color: black;
}

.history-section .card-header {
  color: white;
  background-color: #ea180a;
}

.history-section .card-header:hover,
.history-section .card-header:active,
.history-section .card-header:visited {
  background-color: #ce1509 !important;
  border-color: #ce1509;
}

.social-media,
.history,
.contact {
  margin-top: 20px;
}

@media (max-width: 570px) {
  table {
    font-size: 15px;
  }
}
