.page-footer {
  background-color: #ea180a;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  text-align: center;
}

.page-footer p {
  color: white;
  float: right;
  margin: 27px 0;
}

.page-footer .logo {
  margin: 10px 0;
  width: 58px;
  float: left;
}
