header {
  background-color: #ea180a;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 150px;
  padding: 20px;
}

header img {
  background-color: white;
  border-radius: 60%;
  height: 100px;
  width: 100px;
}

header ul {
  float: left;
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
}

.external {
  padding-top: 30px;
}

header .btn {
  background-color: white;
}

.fa-facebook-official,
.fa-instagram {
  color: white;
  padding: 4px 10px 0 0;
}

@media (max-width: 570px) {
  .title h1 {
    font-size: 28px;
  }

  header img {
    width: 50px;
    height: 50px;
  }

  .external {
    padding-top: 0;
  }

  header {
    padding-left: 0;
  }
}
