.info-part {
  margin-top: 0px;
}

.calendar p,
.calendar h5 {
  margin: 0;
}

.calendar .dates {
  padding: 0;
}

.calendar .dates-box {
  padding: 0;
  width: 92px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.calendar .gig-info {
  padding: 10px;
}

.calendar .gig-info-box {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 30px;
}

.calendar .row {
  margin-bottom: 10px;
}

.info-header:first-child {
  color: white;
  background-color: #ea180a;
  border-radius: calc(0.25rem - 1px);
}

.calendar,
.news-box {
  border: 0;
}

.welcome-box {
  color: white;
  padding-top: 250px;
}

.welcome-box h1 {
  font-size: 70px;
  font-weight: 500;
}

.home-body {
  background-image: url('https://res.cloudinary.com/fredriksiemund/image/upload/c_scale,w_1200/v1514547674/Bleckhornen/tra%CC%88det.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 20px;
}

@media (max-width: 570px) {
  .welcome-box h1 {
    font-size: 25px;
  }

  .calendar .gig-info-box {
    margin-left: 40px;
  }

  .gig-info-box p,
  .gig-info-box h5 {
    font-size: 15px;
  }

  .calendar .col-9 {
    padding-left: 25px;
  }
}

@media (max-width: 991px) {
  .welcome-box {
    padding-top: 10px;
  }

  .calendar-div {
    padding-top: 5px;
  }
}
