body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1200px;
}

.btn-primary {
  background-color: #ea180a;
  border-color: #ea180a;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ce1509 !important;
  border-color: #ce1509;
}
